.sarah-withdrawal-profile-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
  font-family: 'Roboto';
}
.sarah-bank-account-profile-card {
  margin-top: 20px;
  background-color: #150b3e;
  background-size: cover;
  width: 80%;
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
.sarah-profile {
  display: flex;
  align-items: center;
}
.profile-image {
  background-color: #c7d2fe;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 60px;
  padding: 15px;
  color: #7c3aed;
}
.name {
  font-size: 23px;
  font-weight: 300;
  margin-left: 20px;
}
.balance-details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.account-balance-title {
  color: #585076;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
}
.balance-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.amount {
  font-size: 30px;
  font-weight: 500;
}
.currency {
  color: #585076;
  font-size: 18px;
}
.withdraw-header {
  color: #c7d2fe;
  font-size: 25px;
  font-weight: 400;
}
.add-amount {
  color: #585076;
  font-size: 15px;
  font-weight: 500;
}
.denomination-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .sarah-bank-account-profile-card {
    width: 50%;
    max-width: 500px;
  }
}
